@{
    ViewData["Title"] = "Home Page";
}

<div class="hero-section">
    <div class="container text-center">
        <h1>Cansu Store'a Hoşgeldiniz</h1>
        <p>Güncel Kitaplar için doğru adres</p>
        <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="ListBooks">Güncel Kitap Listesi için Tıklayınız.</a>
    </div>
</div>

